@model edziennik.Models.ViewModels.ClassDetailsViewModel

@{
    ViewBag.Title = "Szczegóły";
    var i = 1;
}

<h2>Szczegóły</h2>

<div>
    <h4>Klasa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Teacher)
        </dt>

        <dd>
            @Html.ActionLink(Model.Teacher, "Details","Teachers", new { id=Model.TeacherId },null)
        </dd>

    </dl>
    <label>Lista uczniów</label>
    @foreach (var student in Model.Students)
    {
        
        var name = student.FirstName + " " + student.SecondName + " " + student.Surname;
        <p>@i. @name</p>
        i++;
    }
</div>
<p>
    @Html.ActionLink("Lista uczniów", "ClassStudents","Students", new { classId = Model.Id }, new { @class = "btn btn-info" })
    @Html.ActionLink("Przedmioty", "ClassSubjects", "Subjects", new { classId = Model.Id }, new { @class = "btn btn-info" })
    @Html.ActionLink("Edycja", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning" })
    @Html.ActionLink("Powrót do listy", "Index", null, new { @class = "btn btn-primary" })
</p>
