@model Models.Models.Classs

@{
    ViewBag.Title = "Details";
    var i = 1;
}

<h2>Details</h2>

<div>
    <h4>Classs</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
    <label>Lista uczniów</label>
    @foreach (var student in Model.Students)
    {
        
        var name = student.FirstName + " " + student.SecondName + " " + student.Surname;
        <p>@i. @name</p>
        i++;
    }
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
