@using PagedList.Mvc
@model PagedList.IPagedList<edziennik.Models.ViewModels.ClassListItemViewModel>
@section scripts{
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
}


<link href="~/Content/PagedList.css" rel="stylesheet"
      type="text/css" />

@{
    ViewBag.Title = "Lista klas";
}

<h2>Klasy</h2>

<div id="CreateError">
    @Html.Partial("_CreateError")
</div>

<p>
    @Ajax.ActionLink("Stwórz nowy", "Create", null,
    new AjaxOptions
    {
        HttpMethod = "GET",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "CreateError"
    },
    new { @class = "btn btn-primary" })
</p>
<div id="ClassList">
    @Html.Partial("_ClassList")
</div>

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, pageSize = Model.PageSize }))

