@model PagedList.IPagedList<edziennik.Models.ViewModels.ClassStudentViewModel>

@{
    var ajaxOptions = new AjaxOptions
                     {
                         HttpMethod = "GET",
                         InsertionMode = InsertionMode.Replace,
                         UpdateTargetId = "StudentList"
                     };
}

<table class="table">
    <tr>
        <th>
            @Ajax.ActionLink("Imię", "ClassStudents", new { sortOrder = ViewBag.FirstNameSort, page = Model.PageNumber, classId = Model[0].ClassId }, ajaxOptions, null)
        </th>
        <th>
            @Ajax.ActionLink("Drugie imię", "ClassStudents", new { sortOrder = ViewBag.SecondNameSort, page = Model.PageNumber, classId = Model[0].ClassId }, ajaxOptions, null)
        </th>
        <th>
            @Ajax.ActionLink("Nazwisko", "ClassStudents", new { sortOrder = ViewBag.SurnameSort, page = Model.PageNumber, classId = Model[0].ClassId }, ajaxOptions, null)
        </th>
        <th>
            @Ajax.ActionLink("Pesel", "ClassStudents", new { sortOrder = ViewBag.PeselSort, page = Model.PageNumber, classId = Model[0].ClassId }, ajaxOptions, null)
        </th>
        <th>
            @Ajax.ActionLink("Klasa", "ClassStudents", new { sortOrder = ViewBag.ClassSort, page = Model.PageNumber, classId = Model[0].ClassId }, ajaxOptions, null)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecondName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pesel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassName)
            </td>
            <td>
                @if (User.IsInRole("Teachers"))
                {
                    @Html.ActionLink("Dodaj ocene", "Create", "Marks", new {studentId = item.Id}, new {@class = "btn btn-primary"})
                }
                @if (User.IsInRole("Admins") || User.IsInRole("Editors"))
                {
                    @Html.ActionLink("Edycja", "Edit", new {id = item.Id}, new {@class = "btn btn-warning"})
                }
                @Html.ActionLink("Szczegóły", "Details", new {id = item.Id}, new {@class = "btn btn-primary"})

                @if (User.IsInRole("Admins") || User.IsInRole("Editors"))
                {
                    @Html.ActionLink("Usuń", "Delete", new {id = item.Id}, new {@class = "btn btn-danger"})
                }

            </td>
        </tr>
    }

</table>
