@model edziennik.Models.ViewModels.StudentDetailsViewModel

@{
    ViewBag.Title = "Szczegóły";
    var i = 1;
}

<h2>Szczegóły</h2>

<div>
    <h4>Uczeń</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AvatarUrl)
        </dt>
        <dd>
            <img src="@Url.Content(Model.AvatarUrl)" alt="image" width="100" height="100" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecondName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecondName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pesel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pesel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CellPhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CellPhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClassName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailConfirmed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailConfirmed)
        </dd>

    </dl>

    <label>Lista ocen</label>
    @foreach (var mark in Model.Marks)
    {
        var name = mark.Subject + " " + mark.Teacher + " " + mark.Value;
        <p>@i. @name</p>
        i++;
    }
</div>
<p>
    @if (User.IsInRole("Teachers,Students"))
    {
        @Html.ActionLink("Oceny", "StudentMarks", "Marks", new {studentId = Model.Id}, new {@class = "btn btn-info"})
    }
    @Html.ActionLink("Przedmioty", "StudentSubjects", "Subjects", new {studentId = Model.Id}, new {@class = "btn btn-info"})
    @if (User.IsInRole("Admins") || User.IsInRole("Editors"))
    {
        @Html.ActionLink("Edycja", "Edit", new {id = Model.Id}, new {@class = "btn btn-warning"})
    }
    @Html.ActionLink("Powrót do listy", "Index", null, new {@class = "btn btn-primary"})
</p>
