@using PagedList.Mvc
@model PagedList.IPagedList<edziennik.Models.ViewModels.StudentListItemViewModel>
@section scripts{
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
}

<link href="~/Content/PagedList.css" rel="stylesheet"
      type="text/css" />

@{
    ViewBag.Title = "Lista uczniów";
}

<h2>Uczniowie</h2>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger" role="alert">@Html.Raw(ViewBag.Error)</div>
}

<p>
    @Html.ActionLink("Stwórz nowy", "Create", null, new { @class = "btn btn-primary" })
</p>

<div id="StudentList">
    @Html.Partial("_StudentList")
</div>

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, pageSize = Model.PageSize }))
