@model Models.Models.Subject

@{
    ViewBag.Title = "Usuń";
}

<h2>Usuń</h2>

<h3>Jesteś pewny, że chcesz usunąć ten obiekt ?</h3>
<div>
    <h4>Przedmiot</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TeacherId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeacherId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClasssId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClasssId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClassroomId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassroomId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Day)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Hour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hour)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Powrót do listy", "Index", null, new { @class = "btn btn-primary" })
        </div>
    }
</div>
