@model edziennik.Models.ViewModels.SubjectViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Szczegóły</h2>

<div>
    <h4>Przedmiot</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Teacher)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Teacher)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Classs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Classs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Classroom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Classroom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Day)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edycja", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning" })
    @Html.ActionLink("Powrót do listy", "Index", null, new { @class = "btn btn-primary" })
</p>
