@using PagedList.Mvc
@model PagedList.IPagedList<Models.Models.Teacher>
@section scripts{
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
}

<link href="~/Content/PagedList.css" rel="stylesheet"
      type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div id="CreateError">
    @Html.Partial("_CreateError")
</div>

<p>
    @Html.ActionLink("Stwórz nowy", "Create", null, new { @class = "btn btn-primary" })
</p>

<div id="TeacherList">
    @Html.Partial("_TeacherList")
</div>

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, pageSize = Model.PageSize }))