@using PagedList.Mvc
@model PagedList.IPagedList<edziennik.Models.ViewModels.LogListItemViewModel>

<link href="~/Content/PagedList.css" rel="stylesheet"
      type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Data", "Index", new { sortOrder = ViewBag.DateSort, page=Model.PageNumber })
        </th>
        <th>
            @Html.ActionLink("Akcja", "Index", new { sortOrder = ViewBag.ActionSort, page = Model.PageNumber })
        </th>
        <th>
            @Html.ActionLink("Kto", "Index", new { sortOrder = ViewBag.WhoSort, page = Model.PageNumber })
        </th>
        <th>
           @Html.ActionLink("Co", "Index", new { sortOrder = ViewBag.WhatSort, page = Model.PageNumber })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Action)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Who)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.What)
        </td>
        <td>
            @Html.ActionLink("Szczegóły", "Details", new { id = item.Id }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Usuń", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, pageSize = Model.PageSize }))
