@using PagedList.Mvc
@model PagedList.IPagedList<edziennik.Models.ViewModels.MarkListItemViewModel>
@using Microsoft.AspNet.Identity;

<link href="~/Content/PagedList.css" rel="stylesheet"
      type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model[0].Classs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Student)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Teacher)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Value)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Classs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teacher)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @if (User.IsInRole("Admins") || User.Identity.GetUserId() == item.TeacherId)
                {
                    @Html.ActionLink("Edycja", "Edit", new { id = item.Id }, new { @class = "btn btn-warning" })
                }
                @Html.ActionLink("Szczegóły", "Details", new { id = item.Id }, new { @class = "btn btn-primary" })
                @if (User.IsInRole("Admins") ||  User.Identity.GetUserId() == item.TeacherId)
                {
                    @Html.ActionLink("Usuń", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                }
            </td>
        </tr>
    }

</table>

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, pageSize = Model.PageSize }))